project-service-testing/src/META-INF/wsdl/localhost_9001/sales.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://salesagg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://salesagg/">

<xs:element name="newSale" type="tns:newSale"></xs:element>

<xs:element name="newSaleResponse" type="tns:newSaleResponse"></xs:element>

<xs:complexType name="newSale">
<xs:sequence>
<xs:element name="sale" type="tns:sale" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sale">
<xs:sequence>
<xs:element name="cust" type="tns:customer" minOccurs="0"></xs:element>
<xs:element name="date" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="saleItems" type="tns:saleItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="custId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="gender" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleItem">
<xs:sequence>
<xs:element name="price" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="productId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="quantity" type="xs:double" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newSaleResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>